// Empuja el contenido de las páginas hacia arriba
// para que el mini-player no tape la última canción de las listas
ion-tab-bar {
  padding-bottom: env(safe-area-inset-bottom);
}

app-mini-player {
  display: block;
  position: fixed;
  bottom: calc(56px + env(safe-area-inset-bottom, 0px));
  left: 0;
  right: 0;
  z-index: 999;
}