<ion-header>
  <ion-toolbar>
    <ion-title>Killerfy</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [value]="segmentoActivo" (ionChange)="cambiarSegmento($event)">
      <ion-segment-button value="todas">
        <ion-label>Canciones</ion-label>
      </ion-segment-button>
      <ion-segment-button value="artistas">
        <ion-label>Artistas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="albumes">
        <ion-label>Álbumes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Cargando -->
  <div *ngIf="cargando" class="center-state">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </div>

  <ng-container *ngIf="!cargando">

    <!-- ── TODAS LAS CANCIONES ── -->
    <ion-list *ngIf="segmentoActivo === 'todas'">
      <ion-item
        *ngFor="let cancion of canciones"
        button
        (click)="reproducirCancion(cancion)">
        <ion-icon slot="start" name="musical-notes" color="primary"></ion-icon>
        <ion-label>
          <h3>{{ cancion.titulo }}</h3>
          <p>{{ cancion.artista }} · {{ cancion.album }}</p>
        </ion-label>
        <ion-note slot="end">{{ formatearDuracion(cancion.duracionSegundos) }}</ion-note>
        <ion-button fill="clear" slot="end" (click)="anadirAPlaylist(cancion, $event)">
          <ion-icon slot="icon-only" name="add-circle-outline" color="medium"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>

    <!-- ── ARTISTAS ── -->
    <ion-list *ngIf="segmentoActivo === 'artistas'">
      <ion-item
        *ngFor="let artista of artistas"
        button
        (click)="reproducirArtista(artista)">
        <ion-icon slot="start" name="person-circle" color="secondary"></ion-icon>
        <ion-label>
          <h3>{{ artista.nombre }}</h3>
          <p>{{ artista.canciones.length }} canciones</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- ── ÁLBUMES ── -->
    <ion-list *ngIf="segmentoActivo === 'albumes'">
      <ion-item
        *ngFor="let album of albumes"
        button
        (click)="reproducirAlbum(album)">
        <ion-icon slot="start" name="albums" color="tertiary"></ion-icon>
        <ion-label>
          <h3>{{ album.nombre }}</h3>
          <p>{{ album.artista }} · {{ album.canciones.length }} canciones</p>
        </ion-label>
      </ion-item>
    </ion-list>

  </ng-container>

</ion-content>